@import url(https://fonts.googleapis.com/css?family=Noto+Sans:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic&display=swap);
@font-face {
    font-family: Mont;
    font-display: swap;
    src: url(../fonts/Mont-Light.woff2) format("woff2");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: Mont;
    font-display: swap;
    src: url(../fonts/Mont-Regular.woff2) format("woff2");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: Mont;
    font-display: swap;
    src: url(../fonts/Mont-SemiBold.woff2) format("woff2");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: Mont;
    font-display: swap;
    src: url(../fonts/Mont-Bold.woff2) format("woff2");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: icons;
    font-display: swap;
    src: url(../fonts/icons.woff2) format("woff2");
    font-weight: 400;
    font-style: normal;
}
:root {
    --grey: #ededed;
    --black: #000;
    --black-new: #181818;
    --white: #fff;
    --blue-bg: #17469e;
    --green-bg: #1bb19f;
    --light-blue: #758ad1;
    --light-grey-2: #f1f1f1;
    --deep-grey: #333538;
    --hover-plus: #e84a34;
    /* --font-family: "Mont", sans-serif; */
    --font-family: "Noto Sans", sans-serif;
    --btn-br: 0.25rem;
    /* New color variable */
    --green: #309e3b;
    --light-green-2: #f1f9f5;
    --deep-blue: #1d3176;
    --light-blue-2: #e7ebf9;
    --light-red-2: #fee1dd;
    --deep-grey: #333538;
}
/* - Reset - */
* {
    padding: 0;
    margin: 0;
    border: 0;
}
*,
*::after,
*::before {
    box-sizing: border-box;
}
*::after,
*::before {
    display: inline-block;
}
body,
html {
    height: 100%;
    min-width: 320px;
}
body {
    color: var(--black);
    line-height: 1;
    font-family: var(--font-family);
    font-size: 1rem;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
button,
input,
textarea {
    font-family: var(--font-family);
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    background-color: transparent;
    font-weight: 400;
}
input,
textarea {
    width: 100%;
}
label {
    display: inline-block;
}
button,
option,
select {
    cursor: pointer;
}
a {
    display: inline-block;
    color: inherit;
    text-decoration: none;
}
ul li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

input,
textarea {
    color: inherit;
    font-family: var(--font-family);
    outline: none;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -webkit-appearance: none;
    padding: 0;
    font-size: 1rem;
}
input[type="button"],
input[type="submit"],
button {
    cursor: pointer;
}

form {
    padding: 0rem;
    margin: 0rem;
}
a {
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    text-decoration: none;
    outline: none;
}
a,
span,
div,
button {
    outline: none !important;
}
input[type="submit"],
input[type="button"],
button {
    -webkit-appearance: none;
    outline: none;
}
input:disabled {
    -webkit-appearance: none;
    opacity: 1;
}
/* End Reset */
.hidden {
    display: none;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

[class*="__container"] {
    max-width: 72.625rem;
    margin: 0 auto;
    padding: 0 0.9375rem;
}
.button {
    display: inline-flex;
    justify-content: center;
    padding: 0.75rem 2.1875rem;
    color: var(--white);
    text-align: center;
    font-size: 0.875rem;
    line-height: 1.2;
    font-weight: 500;
    border-radius: 3.125rem;
    background-color: var(--blue-bg);
    transition: background-color 0.3s ease;
}

.button-fill {
    padding: 0.75rem 2.1875rem;
    justify-content: center;
    align-items: center;
    border-radius: 3.125rem;
    background-color: var(--light-blue-2);
    display: inline-flex;
    transition: background-color 0.3s ease, color 0.3s ease;
    color: var(--deep-grey);
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.2;
}

.title {
    color: var(--black-new);
    font-size: 1.375rem;
    font-weight: 600;
    line-height: 1.18;
    letter-spacing: -0.025rem;
}
.title:not(:last-child) {
    margin-bottom: 1.5rem;
}
.title-contact {
    color: #181818;
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.33; /* 24px/18 */
}
.add-kom {
    color: var(--light-blue);
    font-family: var(--second-family);
    font-size: 1rem;
    line-height: 1.37;
    transition: color 0.3s ease;
    position: relative;
    display: inline-flex;
    text-decoration: underline;
    text-underline-offset: 0.25rem;
    text-decoration-style: dashed;
    text-decoration-color: var(--light-blue);
    transition: color 0.3s ease, text-decoration-color 0.3s ease;
}
.add-kom--underline {
    text-decoration-style: solid;
}

.calc {
    width: 7.875rem;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white);
    /* border-radius: 0px; */
    border-radius: 0.625rem;
    gap: 0.25rem;
    padding: 0.625rem 0.3125rem;
    border: 0.0625rem solid #e7ebf9;
    flex: 0 0 126px;
}
.calc__btn {
    display: block;
    width: 2.25rem;
    height: 2.25rem;
    position: relative;
    color: var(--black);
}
.calc__btn svg {
    display: block;
    width: 100%;
    height: 100%;
    stroke: currentColor;
    fill: currentColor;
}
.calc__btn:hover {
    color: var(--hover-plus);
}
.calc__input {
    width: 2.25rem;
    height: 100%;
    text-align: center;
    color: var(--black);
    padding: 0 0.25rem;
    border: none;
    background-color: #ecf0f3;
    border-radius: 0.25rem;
}
/* ! === Popup style === */
body::after {
    content: "";
    /* background-color: rgba(10, 54, 71, 0.9); */
    background-color: rgba(0, 0, 0, 0.8);
    /* background-color: blue; */
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    -webkit-transition: opacity 0.8s ease 0s;
    transition: opacity 0.8s ease 0s;
    pointer-events: none;
    z-index: 149;
}

.popup-show body::after {
    opacity: 1;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 0.625rem 0.625rem;
    -webkit-transition: visibility 0.8s ease 0s;
    transition: visibility 0.8s ease 0s;
    visibility: hidden;
    pointer-events: none;
}

.popup_show {
    z-index: 150;
    visibility: visible;
    overflow: auto;
    pointer-events: auto;
}

.popup_show .popup__content {
    visibility: visible;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.popup__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 100%;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 100%;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    align-items: center;
}

.popup__content {
    visibility: hidden;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: -webkit-transform 0.3s ease 0s;
    transition: -webkit-transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
    padding: 1.25rem 2.5rem 2.5rem 2.5rem;
    width: 100%;
    /* max-width: 972px; */
    max-width: 51.5rem;
    background-color: var(--white);
    border-radius: 1rem;
    padding: 1.875rem 2.5rem 2.5rem 2.5rem;
    position: relative;
}
.popup__close {
    position: absolute;
    top: 8.5px;
    right: 8.5px;
    width: 20px;
    height: 20px;
    position: absolute;
}
/* .popup__close::before,
.popup__close::after {
    content: "";
    position: absolute;
    width: 100%;
    border-radius: var(--btn-br);
    height: 0.0625rem;
    background-color: #333538;
    top: 50%;
    left: 50%;
}
.popup__close::before {
    transform: translate(-50%, -50%) rotate(-45deg);
}
.popup__close::after {
    transform: translate(-50%, -50%) rotate(45deg);
} */

.lock .popup__content {
    visibility: visible;
}
.popup__total-price {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.875rem;
    color: #181818;
    font-weight: 700;
    font-size: 1.25rem;
    padding-top: 0.625rem;
    border-top: 0.0625rem solid #d6d7d9;
}
.popup__total-price span:first-of-type {
    line-height: 1.2;
}
.popup__total-price span:last-of-type {
    line-height: 1.6;
    letter-spacing: -0.0125rem;
}
.popup__actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
}
.popup__one-more {
    color: #333538;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.75;
    border-radius: 1rem;
    border: 0.0625rem solid, #fc9c8f;
    background-color: #fff;
    padding: 0.625rem 1rem;
}
.popup__one-more span {
    color: #e84a34;

    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5;
}

.popup__title:not(:last-child),
.popup__order-content:not(:last-child),
.popup__total-price:not(:last-child),
.popup__actions:not(:last-child),
.popup__one-more:not(:last-child) {
    /* margin-bottom: 1.875rem; */
    margin-bottom: 1.5rem;
}

/* ! === End Popup style === */

body.compensate-for-scrollbar {
    overflow: hidden;
}
/*! === Order page style === */
/*! === Order Section === */

/* .label {
    display: inline-flex;
    gap: 0.375rem;
    color: var(--green-bg);
    font-size: 0.625rem;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    align-items: center;
    padding: 0.25rem 0rem;
} */
/* .label--pre {
    color: #17469e;
}
.label span {
    display: inline-block;
    flex: 0 0 0.625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-radius: 50%;
    background-color: var(--green-bg);
    position: relative;
    top: -2px;
}
.label--pre span {
    display: inline-block;
    flex: 0 0 0.625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-radius: 50%;
    background-color: #17469e;
    position: relative;
    top: -2px;
} */
.label {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    flex-wrap: wrap;
}
.label:not(:last-child) {
    margin-bottom: 0.375rem;
}
.label__availability {
    border-radius: var(--btn-br);
    border: 0.0625rem solid var(--green);
    background-color: var(--light-green-2);
    color: var(--green);
    font-size: 0.75rem;
    line-height: 1.16; /* 14px/12 */
    padding: 0.0625rem 0.625rem;
}
.label__complect {
    border-radius: var(--btn-br);
    background: var(--deep-blue);
    color: var(--white);
    font-size: 0.75rem;
    line-height: 1.16;
    padding: 2px 0.625rem;
}
.label__pre-order {
    border-radius: var(--btn-br);
    background-color: var(--light-blue-2);
    color: var(--deep-blue);
    font-size: 0.75rem;
    line-height: 1.16;
    padding: 0.125rem 0.625rem;
}
.label__delivery {
    border-radius: var(--btn-br);
    background-color: var(--light-red-2);
    padding: 0.125rem 0.625rem;
    color: var(--deep-grey);
    font-size: 0.75rem;
    line-height: 1.16;
}
.label__delivery span {
    color: var(--hover-plus);
}

.order {
    padding-top: 3.125rem;
}
.order:not(:last-child) {
    margin-bottom: 1.375rem;
}
.order__container {
    padding-bottom: 1.875rem;
    border-bottom: 0.0625rem solid var(--light-grey-2);
}

.order__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    gap: 1.25rem 1rem;
}
.order__item:not(:last-child) {
    margin-bottom: 1.875rem;
}
.order__row {
    flex: 1 1 auto;

    display: flex;
    align-items: center;
    gap: 1.25rem;
}
.order__image {
    /* flex: 0 0 145px;
    aspect-ratio: 145/146; */
    flex: 0 0 120px;
    aspect-ratio: 120/120;
    position: relative;
    border: 0.0625rem solid #e7ebf9;
    border-radius: 1rem;
}
.order__image img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: contain;
}
.order__body {
    display: flex;
    flex-direction: column;
    gap: 0.375rem;
    align-items: flex-start;
}

.order__title:not(:last-child) {
    margin-bottom: 1.375rem;
}
.order__sub-title {
    color: var(--deep-grey);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.37; /* 22px/16 */
}
.order__color,
.order__type {
    color: #767676;
    font-size: 0.75rem;
    font-weight: 600;
    line-height: 1.16;
}
.order__color span,
.order__type span {
    color: #333;
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 1.16;
}
.order__author {
    color: var(--light-blue);
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1.16;
}

.order__actions,
.order__l-action {
    display: flex;
    align-items: center;
    /* gap: 2.5rem; */
    gap: 20px;
    /* flex: 0 1 290px; */
}
.order__actions {
    justify-content: space-between;
}

.order__prices {
    display: flex;
    flex-direction: column;
    /* flex: 0 0 88px; */
    flex: 0 0 75px;

    align-items: flex-start;
}

.order__prices--old {
    color: #9d9ea2;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.37;
    position: relative;
    display: inline-block;
}
.order__price {
    color: #181818;
    font-weight: 700;
    line-height: 1.25;
}
.order__prices--old::after {
    content: "";
    position: absolute;
    left: 0;
    top: 47.5%;
    transform: translateY(-50%);
    height: 0.0625rem;
    width: 100%;
    background-color: #9d9ea2;
}
.order__prices--sale {
    color: #e84a34;
    font-weight: 700;
    line-height: 1.25;
}

.order__remove {
    color: #e84a34;
}
.order__remove:hover {
    color: #181818;
}
.order__remove svg {
    stroke: currentColor;
    display: block;
    width: 100%;
    height: 100%;
}
/* ! === End Order Section === */
/* ! === Form Section === */
.form {
    padding-top: 2.5rem;
    padding-bottom: 3.125rem;
}

.checkout-content__col--2 {
    display: flex;
    padding: 1.75rem;
    flex-direction: column;
    align-self: flex-start;
    gap: 1.125rem;
    border: 0.0625rem solid #e7ebf9;
    background-color: var(--white);
}
.checkout-content__top {
    color: #333538;
    font-weight: 600;
    line-height: 1.75;
}
.checkout-content__price {
    display: flex;
    align-items: center;
    gap: 0.625rem;
    justify-content: space-between;
}

.checkout-content__delivery-type {
    display: flex;
    align-items: center;
    gap: 0.625rem;
    justify-content: space-between;
}
.checkout-content__price:not(:last-child),
.checkout-content__delivery-type:not(:last-child) {
    margin-bottom: 0.3125rem;
}
.checkout-content__decor {
    border-bottom: 0.0625rem solid #f1f1f1;
}
.checkout-content__delivery-type span:last-of-type {
    text-align: right;
}
.checkout-content__body {
}
.checkout-content__total-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.625rem;
}
.checkout-content__total-price {
    color: #181818;
    font-weight: 700;
    line-height: 1.33;
}
.checkout-content__total-price span:first-of-type {
    font-size: 1.125rem;
}
.checkout-content__total-price span:last-of-type {
    font-size: 1.5rem;
    letter-spacing: -0.0125rem;
}
.checkout-content__checkbox {
}
.checkout-content__button {
}
.checkout-content__policy {
    color: #9d9ea2;
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.57;
}
.checkout-content__policy a {
    color: #758ad1;
    transition: color 0.3s ease;
}
.checkout-content__card-list {
    display: flex;
    align-items: center;
    gap: 0.4375rem;
    flex-wrap: wrap;
}

.checkbox {
    position: relative;
}

.checkbox__input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
}
.checkbox__input:focus-visible + .checkbox__label {
    box-shadow: 0 0 0.3125rem #e84a34;
}
.checkbox__input:checked ~ .checkbox__label .checkbox__icon::after {
    transform: translate(-50%, -50%) scale(1);
}
.checkbox__label {
    cursor: pointer;
    display: inline-flex;
    position: relative;
    gap: 0.625rem;
    align-items: center;
}
.checkbox__icon {
    align-self: center;
    flex: 0 0 1rem;
    width: 1rem;
    height: 1rem;
    border: 0.0625rem solid #d6d7d9;
    border-radius: var(--btn-br);
    position: relative;
}
.checkbox__icon::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 0.5rem;
    height: 0.5rem;
    background-color: #e84a34;
    transition: transform 0.3s ease;
}
.checkbox__text {
    color: #333538;
    font-size: 0.875rem;
    line-height: 1.85;
}

.card__image {
    width: 2.125rem;
    height: 1.375rem;
    border-radius: 0.375rem;
    border: 0.0625rem solid #e7ebf9;
    padding: 0.3125rem 0.4375rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card__image img {
    max-width: 100%;
}

/* ! === End Form Section === */

/* ! === Media === */
@media screen and (min-width: 767.98px) {
    .title {
        font-size: 1.75rem;
    }
}
@media screen and (min-width: 991.98px) {
    .title {
        font-size: 2rem;
    }
    .form__body {
        display: flex;
    }
    .checkout-content__col--2 {
        margin-left: 2.5rem;
    }
    .order__actions {
        /* flex: 0 1 315px; */
        flex: 0 1 232px;
        flex: 0 1 250px;
    }
    .order__row {
        flex: 1 1 350px;
    }
    /* .popup__form {
        padding-bottom: 4.25rem;
    } */
}
@media screen and (max-width: 991.98px) {
    .order__item {
        flex-direction: column;
        align-items: stretch;
    }
    .checkout-content__col--1 {
        width: 100%;
        padding-right: 0rem;
        border-right: none;
    }

    .checkout-content__col--2 {
        width: 100%;
        /* padding-left: 0rem; */
    }
    .checkout-content__col--1:not(:last-child),
    .checkout-content__col--2:not(:last-child) {
        margin-bottom: 2.5rem;
    }
}
@media screen and (max-width: 767.98px) {
    .order__l-action {
        gap: 1.25rem;
    }
    .popup__content {
        padding: 0.625rem 1.25rem 1.25rem 1.25rem;
    }
    .popup__btn-tranps,
    .popup__button {
        flex: 1 0 50%;
    }
    .order {
        padding-top: 2.875rem;
    }
    .form {
        padding-bottom: 2.75rem;
    }
}
@media screen and (max-width: 359px) {
    .order__l-action {
        gap: 0.625rem;
    }
    .popup__content {
        padding: 0.625rem;
    }
}
@media (any-hover: hover) {
    .button:hover {
        background-color: #3150b9;
        /* --blue */
        color: var(--white);
    }
    .btn-transp:hover {
        border: 0.0625rem solid var(--green-bg);
        color: var(--black);
    }
    .add-kom:hover {
        color: var(--green-bg);
        text-decoration-color: var(--green-bg);
        text-decoration: underline;
        text-underline-offset: 0.25rem;
        text-decoration-style: dashed;
    }
    .add-kom--underline:hover {
        text-decoration-style: solid;
    }

    .order__sub-title a:hover {
        content: "";
        color: var(--deep-grey);
    }
    .checkout-content__policy a:hover {
        color: var(--green-bg);
    }
    .button-fill:hover {
        background-color: #758ad1;
        /* --light-blue */
        color: var(--white);
    }
}
